/**, ::before, ::after {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  }*/

.App {
  background-color: #B0E8E5;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  font-family: Roboto, sans-serif;

}
.container{
  width: 60vw;
  height: max-content;
  background-color: #dcd0d0;
  display: block;
  margin: auto;
  text-align: center;
  /*border:#2C423F solid 1px;*/
  border:none;
  padding: 10px;
}

.button-container{
  margin:auto;
  width:max-content;
}
button  {
 font-weight: bold;
 margin: 1rem;
 background-color:   #2C423F; 
  border: none;
  color: #C8E9A0;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  display: block;
  border-radius: 12px;
  box-shadow: 0 9px #999;
}
button:hover{
  background-color:#C8E9A0 ;
  color:  #2C423F;
  box-shadow: 0 9px #999;
  border:none;
}

button:active {
  background-color: #C8E9A0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border:none;
}

button:focus{outline:none;}

button.start{
  margin:auto;
}

button.highscore{
float:right;}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin:auto;
  color:#2C423F;
}
h1.highscore{
float:center;}

h2 {
  font-size: 45px;
}

.highscore-container{
  border:solid 1px;
  align-content: center;
}

table.highscore{
  margin:auto;
}
th.highscore {font-style:italic ;}
th.highscore,td.highscore{
  padding-bottom:0.5rem;
  padding-right:1rem ;
  
}