.searchSelect {
    width: 150px;
    background-color:  #D0F1EF;
    border: none;
    border: solid 1px ;
    border-color: #DCD0D0;

}

.searchOption{
    width: 150px;
}

.searchInput{
    width: 50vw;
    /*border:solid 1px;*/
    margin: auto;
    padding: 5px;
    display: flex;
    grid-template-columns: max-content max-content;
}

input.search{
    border-radius: 8px;
    font-size: 16px;
    height: 1.5rem;
    padding: 15px 15px;
    background-color:  #D0F1EF;
    color: #2C423F;
    border: solid 1px ;
    border-color: #DCD0D0;


}